#NGINX_INGRESS_CONTROLLER_IMAGE
NGINX_INGRESS_CONTROLLER_IMAGE=quay.io/kubernetes-ingress-controller/nginx-ingress-controller

#KUBE_WEBHOOK_CERTGEN_IMAGE
KUBE_WEBHOOK_CERTGEN_IMAGE=docker.io/jettech/kube-webhook-certgen

#NGINX_INGRESS_VERSION
NGINX_INGRESS_VERSION=0.33.0

#KUBE_WEBHOOK_CERTGEN_VERSION
KUBE_WEBHOOK_CERTGEN_VERSION=v1.2.2





